
@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans-Light.eot');
  src: url('../fonts/GillSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GillSans-Light.woff') format('woff'),
  url('../fonts/GillSans-Light.ttf') format('truetype'),
  url('../fonts/GillSans-Light.svg#Intro') format('svg');
  font-weight: 100;  
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans-LightIt.eot');
  src: url('../fonts/GillSans-LightIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GillSans-LightIt.woff') format('woff'),
  url('../fonts/GillSans-LightIt.ttf') format('truetype'),
  url('../fonts/GillSans-LightIt.svg#Intro') format('svg');
  font-weight: 100;  
  font-style: italic;
}



@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans.eot');
  src: url('../fonts/GillSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GillSans.woff') format('woff'),
  url('../fonts/GillSans.ttf') format('truetype'),
  url('../fonts/GillSans.svg#Intro') format('svg');
  font-weight: 400;  
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans-Bold.eot');
  src: url('../fonts/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GillSans-Bold.woff') format('woff'),
  url('../fonts/GillSans-Bold.ttf') format('truetype'),
  url('../fonts/GillSans-Bold.svg#Intro') format('svg');
  font-weight: 700;  
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Bold.eot');
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-Bold.woff') format('woff'),
  url('ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  }
