	{% extends "template.html" %}	
	{% import "macros.html" as myMacros %}

	{% block content %}
	<main class="main servises-page">
		<section class="article-img-section">
			<div class="img-wrap">
				<img src="images/photo-3.jpg" alt="">
			</div>
			<div class="pagewrap">										
				<div class="head-block-content flex">
					<div class="col-50">
						<div class="head-block-descr">
							<div class="descr-wrap">
								<h1 class="descr-title">Мы не маскируем</h1>
								<p class="descr-text">Не предлагаем временных решений. Мы избавляем от проблем. Мы не заставляем вас терпеть боль и неудобства. Просто шаг за шагом изменяем вашу кожу и жизнь к лучшему</p>
								<button class="button red button--pipaluk button--inverted  button--round-s button--text-thick">Записаться</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="article-top-section light-blue">
			<div class="article-block article">
				<div class="pagewrap">
					<div class="colwrap">
						<div class="col-33">
							<h2 class="content-title line-left">Работа меланина</h2>
						</div>
						<div class="content-block pl">
							<p>Еще в Древнем Египте, Греции и Риме женщины использовали маски для лица, чтобы сохранить свою молодость и красоту. Женщины всегда стремились придать коже лица нежный цвет и загадочное сияние. У каждой женщины были свои тайные рецепты. Главный же секрет красоты – это королевский бархат вашей кожи лица и тела.</p>
	
							<p>О красоте египетской царицы Клеопатры ходят легенды. Она вошла в историю не только как могущественная царица Египта, но и как символ женственности, очарования, красоты.</p>
	
							<p>Как свидетельствует история, Клеопатра любила делать маски для лица и выполняла этот ритуал постоянно. Ее излюбленными ингридиентами были душистый александрийский мед, жирное молоко козлиц и ослиц (не только улучшало состояние кожи, но и служило профилактикой от инфекционных заболеваний), белая глина-каолин, грязи Мертвого моря (специально завоеванного для возлюбленной Марком Антонием).</p>
	
							<p>Также царица, стремясь сохранить молодость лица, <span>ложилась спать в в золотой маске. К сожалению, последний компонент нам не очень доступен, правда, и косметологическая польза его еще полностью не доказана. Хотя, можно предположить, что эта маска имела определенный антибактериологический эффект.</span>	</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="servises-section">
			<div class="pagewrap">
				<div class="head-block">
					<div class="col-100">
						<div class="head-block-descr">
							<div class="descr-wrap colwrap sb"> 
								<div class="col-33 img-block">
									<div class="img-wrap">
										<img src="images/img-1.png" alt="">
									</div>
								</div>
								<div class="content-block">
									<p class="text-24">Забудьте о толстом слое тонального крема, не позволяйте акне отравлять вашу жизнь, перестаньте думать о недостатках кожи. Просто начните двигаться к здоровой и красивой коже, отбросив все, что не работает, используя только те средства, которые эффективны именно в вашем случае.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="servises-content-section img-pad-section">
				<div class="pagewrap">
					<div class="colwrap">
						<div class="article col-60 pr">							
								<span>Еще в Древнем Египте, Греции и Риме женщины использовали маски для лица, чтобы сохранить свою молодость и красоту. Женщины всегда стремились придать коже лица нежный цвет и загадочное сияние. У каждой женщины были свои тайные рецепты. Главный же секрет красоты – это королевский бархат вашей кожи лица и тела.</span>

								<p> <b>О красоте египетской царицы Клеопатры ходят легенды. </b> Она вошла в историю не только как могущественная царица Египта, но и как символ женственности, очарования, красоты.</p>

								<p>Как свидетельствует история, Клеопатра любила делать маски для лица и выполняла этот ритуал постоянно. Ее излюбленными ингридиентами были душистый александрийский мед, жирное молоко козлиц и ослиц (не только улучшало состояние кожи, но и служило профилактикой от инфекционных заболеваний), белая глина-каолин, грязи Мертвого моря (специально завоеванного для возлюбленной Марком Антонием).</p>

								<p>Также царица, стремясь <a href="">сохранить</a>	 молодость лица, ложилась спать в в золотой маске. К сожалению, последний компонент нам не очень доступен, правда, и косметологическая польза его еще полностью не доказана. Хотя, можно предположить, что эта маска имела определенный антибактериологический эффект.</p>
								<button class="button red button--pipaluk button--inverted  button--round-s button--text-thick">Записаться</button>
						</div>
						<div class="col-40 order">
							<div class="border-block blue">
									<h2 class="content-title line-right">Что лежит в основе авторской методики Центра здоровой кожи «Весна»?</h2>
							</div>
						</div>
					</div>	
				</div>
			</section>
			<section class="servises-content-section">
				<div class="pagewrap">
						{% include "slider.html" %}					
				</div>
			</section>			
			<section class="servises-content-section">
				<div class="pagewrap">
					<div class="quote-block right">
						<i class=" icon icon-quote"></i>
						<div class="quote-block-wrap">
							<p> <b>Это полноценный комплекс, который решает все проявления и последствия угревой болезни. Это всесторонняя грамотная работа, в результате которой кожа оздоровляется, и происходят разительные перемены в ее внешнем виде. Красные воспаленные прыщи, неэстетичный вид кожи – все это действительно остается в прошлом.</b> </p>
						</div>
					</div>
				</div>
			</section>
			<section class="video-section">
				<div class="video">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/axs49hvU4MQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</section>
			<section class="price-section">
				<div class="pagewrap">
					<h2 class="bg-title blue">Цены на лечение акне</h2>
					<ul class="price-list">
						<li>
							<span>Лечение акне</span>
							<span>350 грн</span>
						</li>
						<li>
							<span>Лечение акне</span>
							<span>350 грн</span>
						</li>
						<li>
							<span>Лечение акне</span>
							<span>350 грн</span>
						</li>
					</ul>
					<button class="button red button--pipaluk button--inverted  button--round-s button--text-thick">Записаться</button>
				</div>
			</section>
			<section class="servises-content-section mh">
					<div class="img-wrap col-50 bg-img-wrap left">
						<img src="images/photo-5.jpg" alt="">
					</div>
				<div class="pagewrap">
					<div class="colwrap fe">
						{{ myMacros.sliderMin(className="pl") }}	
					</div>
				</div>
			</section>
			<section class="servises-content-section">
				<div class="pagewrap">
					<div class="article-block article">
						<div class="colwrap">
							<div class="col-33">
								<h2 class="content-title line-left min">Как добиться устойчивого результата в лечение угревой болезни?</h2>
							</div>
							<div class="content-block pl">
								<p>Еще в Древнем Египте, Греции и Риме женщины использовали маски для лица, чтобы сохранить свою молодость и красоту. Женщины всегда стремились придать коже лица нежный цвет и загадочное сияние. У каждой женщины были свои тайные рецепты. Главный же секрет красоты – это королевский бархат вашей кожи лица и тела.</p>

								<p>тобы поддерживать кожу здоровой и не вспоминать об угрях, нужно продолжать о ней правильно заботиться: соблюдать правила ухода и применять лечебный крем. Этот крем специалисты Центра создают с учетом всех особенностей кожи пациента, поэтому он демонстрирует действительно высокую эффективность.</p>
								
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="img-section">
				<div class="pagewrap">
					<div class="colwrap">
						<div class="col-33 bg-img-block blue article">
							<div class="img-wrap">
								<img src="images/flow-3.png" alt="">
							</div>
							<p>Клиники или продукты, которые обещают быстро вылечить акне, как правило, оставляют только разочарование. Ведь лечение угревой болезни – не такой простой процесс, за 1-2 процедуры от проблемы полностью не избавиться.</p>
							<p>В Центре здоровой кожи «Весна» накоплен огромный положительный опыт в лечении угревой сыпи, и мы <b>можем прогнозировать результаты, отталкиваясь от состояния кожи </b>	</p>
						</div>
						<div class="content-block pl article">
							<div class="col-100 flex">								
								<h2 class="col-60 content-title pr line-right">Каких результатов я могу ожидать и когда</h2>
							</div>							
								<p>Как правило, первые улучшения состояния кожи видны уже после 3-4 процедуры. В случаях, осложненных демодекозом, стафилококком, срептококком, результаты заметны после 5-6 процедур.</p>
								<p>	В любом, даже самом сложном случае, через 1,5-2 месяца вы заметите уже радикальные изменения. И они будут устойчивыми. Чтобы лучше представлять, какого эффекта вы сможете достичь, ознакомьтесь с отзывами о лечении акне наших пациентов и посмотрите фото результатов.</p>
								<h4>Как часто мне нужно будет посещать Центр здоровой кожи «Весна» при лечении угревой сыпи на лице?</h4>
								<p>Курс составляет в среднем от 5-6 до 10-12 процедур, в зависимости от ситуации конкретного пациента. Затем нужно будет поддерживать результат с помощью домашнего ухода.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="servises-content-section">
				<div class="pagewrap">
					<div class="quote-block bottom">
						<i class=" icon icon-quote"></i>
						<div class="quote-block-wrap">
							<h4>Помните!</h4>
							<p> <b>При неправильном лечении акне вы рискуете не только не избавиться от проблемы, но и приобрести новые – следы постакне (сине-красные пятна, рубцы, гиперпигментация), которые могут оставаться на коже годами. Поэтому лучшим решением всегда является обращение к специалистам и грамотное индивидуально спланированное лечение угревой болезни. Также нельзя механически удалять угри самостоятельно – любые чистки должен делать только специалист в условиях косметологического кабинета.</b> </p>
							 <div class="quote-block-brd">
								 <p>Обращайтесь в Центр здоровой кожи «Весна». Начните новую жизнь, в которой не будет угревой болезни, с чистой и здоровой кожей!</p>	
							 </div>
						</div>
					</div>
				</div>
			</section>
	</main>
	 {% endblock %} 
