	{% extends "template.html" %}	
	{% import "macros.html" as myMacros %}

	{% block content %}
	<main class="main servises-page">
		<section class="article-img-section">
			<div class="img-wrap">
				<img src="images/photo-5.jpg" alt="">
			</div>
			<div class="pagewrap">										
				<div class="head-block-content flex">
					<div class="col-50">
						<div class="head-block-descr">
							<div class="descr-wrap">
								<h1 class="descr-title">Лечение демодекоза:</h1>
								<p class="descr-text">избавьтесь от проблемы без риска и побочных эффектов – комфортно и эффективно</p>
								<button class="button red button--pipaluk button--inverted  button--round-s button--text-thick">Записаться</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="article-top-section light-blue">
			<div class="article-block article">
				<div class="pagewrap">
					<div class="colwrap">
						<div class="col-33">
							<h2 class="content-title line-left">Как все происходит</h2>
						</div>
						<div class="content-block pl">
							<p>Еще в Древнем Египте, Греции и Риме женщины использовали маски для лица, чтобы сохранить свою молодость и красоту. Женщины всегда стремились придать коже лица нежный цвет и загадочное сияние. У каждой женщины были свои тайные рецепты. Главный же секрет красоты – это королевский бархат вашей кожи лица и тела.</p>
	
							<p>О красоте египетской царицы Клеопатры ходят легенды. Она вошла в историю не только как могущественная царица Египта, но и как символ женственности, очарования, красоты.</p>
	
							<p>Как свидетельствует история, Клеопатра любила делать маски для лица и выполняла этот ритуал постоянно. Ее излюбленными ингридиентами были душистый александрийский мед, жирное молоко козлиц и ослиц (не только улучшало состояние кожи, но и служило профилактикой от инфекционных заболеваний), белая глина-каолин, грязи Мертвого моря (специально завоеванного для возлюбленной Марком Антонием).</p>
	
							<p>Также царица, стремясь сохранить молодость лица, <span>ложилась спать в в золотой маске. К сожалению, последний компонент нам не очень доступен, правда, и косметологическая польза его еще полностью не доказана. Хотя, можно предположить, что эта маска имела определенный антибактериологический эффект.</span>	</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="servises-section">
			<div class="pagewrap">
				<div class="head-block">
					<div class="col-100">
						<div class="head-block-descr">
							<div class="descr-wrap colwrap sb"> 
								<div class="col-33 img-block">
									<div class="img-wrap">
										<img src="images/img-2.png" alt="">
									</div>
								</div>
								<div class="content-block">
									<p class="text-24">Мы не будем предлагать методы с недоказанной эффективностью</p>
									<p class="text-16">Процедуры, которые не облегчат, а наоборот усложнят вашу жизнь – потребуют сидеть дома в период реабилитации или на длительный период изменить образ жизни. Когда вопрос касается здоровья и внешнего вида кожи лица, не нужно идти на риск – грамотное, индивидуально спланированное, планомерное лечение – верный путь к нужному результату.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="content-section">
				<div class="pagewrap">
					<div class="colwrap">                        
						<div class="content-block">
							<ul class="main__list">
								<li class="main__item main__item_5">
									<div class="main-list-title-wrap">
										<div class="img-wrap main-list-icon">
											<img src="images/main-list-6.png" alt="">
										</div>		
										<p class="main-list-title">Хорошая новость</p>
									</div>
									<p class="text-16">Это заболевание лечится, и мы в Центре здоровья кож«Весна» успешно избавляем пациентов от этой проблемы уже в течение 20 лет. Мы точно знаем, какие средства работают, у нас разработаны эффективные методики и схемы, и мы в любом случае найдем решение и для вашей ситуации.</p>
								</li>
								<li class="main__item main__item_6">
									<div class="main-list-title-wrap">
										<div class="img-wrap main-list-icon">
											<img src="images/main-list-5.png" alt="">
										</div>		
										<p class="main-list-title">Плохая новость</p>
									</div>
									<p class="text-16">Для устранения демодекодеза требуется время, помощь специалистов и определенная дисциплинированность пациента. Курс лечения в Центре нужно будет дополнить домашним уходом, коррекцией образа жизни</p>
								</li>                               
							</ul>
						</div>
						<div class="col-33 pl order not-mar">
							<h2 class="content-title line-right">Наша методика</h2>
						</div>
					</div>
				</div>
			</section>
			<section class="servises-content-section mh">
					<div class="img-wrap col-50 bg-img-wrap left">
						<img src="images/photo-7.jpg" alt="">
					</div>
				<div class="pagewrap">
					<div class="colwrap fe">
						<div class="col-50 pl article">	              
							<div class="slider-min-item">       
								<h2 class="content-title">Симптомы демодекоза на лице</h2>
								<div class="list-wrap">
									<ul>
										<li>
											зуд, усиливающийся вечером и ночью (что вызвано повышением активности клеща в это время суток)
										</li>
										<li>угревая </li>
										<li>шелушение </li>
										<li>гнойники и язвы</li>									
									</ul>
									<ul>
										<li>изменение структуры кожи (бугристость)</li>
										<li>серый оттенок</li>
										<li>блеск кожи</li>
										<li>припухлость</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="servises-content-section">
				<div class="pagewrap">
					<div class="main-border-block">
						<p>Нет смысла рисковать – ведь речь идет о вашем лице – когда есть доступный комфортный метод лечения с доказанной эффективностью.</p>
					</div>
				</div>
			</section>

			<section class="servises-content-section">
				<div class="pagewrap">
					<div class="colwrap">
						<div class="col-40">
							<h2 class="content-title line-left">Как мы лечим демодекодез в Центре здоровья кожи «Весна»?</h2>
						</div>
						<div class="col-60 pl article">
							<p>Применяется оригинальная методика лечения подкожного клеща на лице, которая основывается на 20-летнем опыте успешного устранения проблемы демодекодеза.   Мы решаем сразу несколько задач: боремся с подкожным клещом – снижаем его концентрацию до допустимого уровня, нормализуем процессы выработки себума (кожного сала), восстанавливаем кожу, ее рН, защитные свойства, добиваемся устранения неровностей (бугристости), возвращаем коже привлекательный внешний вид и обязательно работаем над удержанием и закреплением полученных результатов. Даем детальные рекомендации по уходу за кожей, рассказываем, как скорректировать образ жизни, чтобы проблема демадекоза была решена максимально быстро и больше не возвращалась.</p>							
						</div>
					</div>			
				</div>
			</section>
			<section class="section">
				<div class="pagewrap">
					<h2 class="bg-title blue">Цены на лечение демодекоза</h2>
					<ul class="price-list">
						<li>
							<span>Лечение демодекоза</span>
							<span>350 грн</span>
						</li>
						<li>
							<span>Лечение демодекоза</span>
							<span>350 грн</span>
						</li>
						<li>
							<span>Лечение демодекоза</span>
							<span>350 грн</span>
						</li>
					</ul>
					<button class="button mt red button--pipaluk button--inverted  button--round-s button--text-thick">Записаться</button>
				</div>
			</section>

			<section class="section video-section">
				<div class="video">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/axs49hvU4MQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</section>

			<section class="img-section">
				<div class="pagewrap">
					<div class="colwrap">
						<div class="col-33 bg-img-block bg-img-block_big blue article">
							<div class="img-wrap">
								<img src="images/img-3.png" alt="">
							</div>
							<h4>Первый шаг на пути избавления от демодекса</h4>
							<p>Клиники или продукты, которые обещают быстро вылечить акне, как правило, оставляют только разочарование. Ведь лечение угревой болезни – не такой простой процесс, за 1-2 процедуры от проблемы полностью не избавиться.</p>
							<p>В Центре здоровой кожи «Весна» накоплен огромный положительный опыт в лечении угревой сыпи, и мы <b>можем прогнозировать результаты, отталкиваясь от состояния кожи </b>	</p>
						</div>
						<div class="content-block pl article">
							<div class="col-100 flex">								
								<h2 class="col-60 content-title pr line-right">Процедуры и средства в процессе лечения демодекса на лице в Центре здоровой кожи «Весна»?</h2>
							</div>							
								<p>Как правило, первые улучшения состояния кожи видны уже после 3-4 процедуры. В случаях, осложненных демодекозом, стафилококком, срептококком, результаты заметны после 5-6 процедур.</p>
								<p>	В любом, даже самом сложном случае, через 1,5-2 месяца вы заметите уже радикальные изменения. И они будут устойчивыми. Чтобы лучше представлять, какого эффекта вы сможете достичь, ознакомьтесь с отзывами о лечении акне наших пациентов и посмотрите фото результатов.</p>
								<h4>Как часто мне нужно будет посещать Центр здоровой кожи «Весна» при лечении угревой сыпи на лице?</h4>
								
								<p>Курс составляет в среднем от 5-6 до 10-12 процедур, в зависимости от ситуации конкретного пациента. Затем нужно будет поддерживать результат с помощью домашнего ухода.</p>
								{% include "slider-deco.html" %}							
						</div>
					</div>
				</div>
			</section>
					
			<section class="servises-content-section">
				<div class="pagewrap">
					<div class="quote-block right">
						<i class=" icon icon-quote"></i>
						<div class="quote-block-wrap">
							<p> <b>Это полноценный комплекс, который решает все проявления и последствия угревой болезни. Это всесторонняя грамотная работа, в результате которой кожа оздоровляется, и происходят разительные перемены в ее внешнем виде. Красные воспаленные прыщи, неэстетичный вид кожи – все это действительно остается в прошлом.</b> </p>
						</div>
					</div>
				</div>
			</section>			
			
			<section class="servises-content-section mh">
					<div class="img-wrap col-50 bg-img-wrap right">
						<img src="images/photo-8.jpg" alt="">
					</div>
				<div class="pagewrap">
					<div class="colwrap">
							{{ myMacros.sliderMin(className="pr") }}	
					</div>
				</div>
			</section>		
			
			<section class="section faq-section">
				<div class="pagewrap">
					<div class="colwrap">
						<div class="col-60 pr">
								{% include "faq-list.html" %}
						</div>
						<div class="col-40 order">
							<h2 class="content-title line-left">Вопросы о демодекозе и ответы на них</h2>							
						</div>
					</div>
				</div>
			</section>
	</main>
	 {% endblock %} 
