	{% extends "template.html" %}	
	{% import "macros.html" as myMacros %}

	{% block content %}
	<main class="main servises-page">
		<section class="article-img-section">
			<div class="img-wrap">
				<img src="images/photo-13.jpg" alt="">
			</div>
			<div class="pagewrap">										
				<div class="head-block-content flex">
					<div class="col-50">
						<div class="head-block-descr">
							<div class="descr-wrap">
								<h1 class="descr-title">Лечение прыщей</h1>
								<p class="descr-text">Не предлагаем временных решений. Мы избавляем от проблем. Мы не заставляем вас терпеть боль и неудобства. Просто шаг за шагом изменяем вашу кожу и жизнь к лучшему</p>
								
								<button class="button red button--pipaluk button--inverted  button--round-s button--text-thick">Записаться</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="article-top-section light-blue">
			<div class="article-block article">
				<div class="pagewrap">
					<div class="colwrap">
						<div class="col-33">
							<h2 class="content-title line-left">Устраняем последствия прыщей</h2>
						</div>
						<div class="content-block pl">
							<p>Еще в Древнем Египте, Греции и Риме женщины использовали маски для лица, чтобы сохранить свою молодость и красоту. Женщины всегда стремились придать коже лица нежный цвет и загадочное сияние. У каждой женщины были свои тайные рецепты. Главный же секрет красоты – это королевский бархат вашей кожи лица и тела.</p>
	
							<p>О красоте египетской царицы Клеопатры ходят легенды. Она вошла в историю не только как могущественная царица Египта, но и как символ женственности, очарования, красоты.</p>
	
							<p>Как свидетельствует история, Клеопатра любила делать маски для лица и выполняла этот ритуал постоянно. Ее излюбленными ингридиентами были душистый александрийский мед, жирное молоко козлиц и ослиц (не только улучшало состояние кожи, но и служило профилактикой от инфекционных заболеваний), белая глина-каолин, грязи Мертвого моря (специально завоеванного для возлюбленной Марком Антонием).</p>
							<p>Как свидетельствует история, Клеопатра любила делать маски для лица и выполняла этот ритуал постоянно. Ее излюбленными ингридиентами были душистый александрийский мед, жирное молоко козлиц и ослиц (не только улучшало состояние кожи, но и служило профилактикой от инфекционных заболеваний), белая глина-каолин, грязи Мертвого моря (специально завоеванного для возлюбленной Марком Антонием).</p>		
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="servises-section">
			<div class="pagewrap">
				<div class="head-block">
					<div class="col-100">
						<div class="head-block-descr">
							<div class="descr-wrap colwrap sb"> 
								<div class="col-33 img-block">
									<div class="img-wrap">
										<img src="images/img-7.png" alt="">
									</div>
								</div>
								<div class="content-block">
									<p class="text-22"><span>Забудьте о толстом слое тонального крема,</span> Забудьте о толстом слое тонального крема, не позволяйте акне отравлять вашу жизнь, перестаньте думать о недостатках кожи. Просто начните двигаться к здоровой и красивой коже, отбросив все, что не работает, используя только те средства, которые эффективны именно в вашем случае.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="content-section">
			<div class="pagewrap">
				<div class="colwrap">					
					<div class="content-block">
						<ul class="main__list-column">
							<li class="main__item-column">
								<div class="img-wrap ">
									<img src="images/main-list-7.png" alt="">
								</div>
								<p class="text-title min">Применяется оригинальная авторская методика, которая совершенствовалась два десятилетия.</p>
								<p class="text-16">Основа методики – послойное неагрессивное отшелушивание шаров дермы, которое сопровождается качественным пролечиванием каждого следующего шара. Конкретные лечебные процедуры, препараты и даже их компоненты выбираются специалистами индивидуально.</p>
							</li>
							<li class="main__item-column">
								<div class="img-wrap ">
									<img src="images/main-list-8.png" alt="">
								</div>
								<p class="text-title min">Специалист предлагает комплексное лечение</p>
								<p class="text-16">Основа методики – послойное неагрессивное отшелушивание шаров дермы, которое сопровождается качественным пролечиванием каждого следующего шара. Конкретные лечебные процедуры, препараты и даже их компоненты выбираются специалистами индивидуально.</p>
							</li>
							<li class="main__item-column">
								<div class="img-wrap ">
									<img src="images/main-list-9.png" alt="">
								</div>
								<p class="text-title min">20 лет применения методики</p>
								<p class="text-16">Основа методики – послойное неагрессивное отшелушивание шаров дермы, которое сопровождается качественным пролечиванием каждого следующего шара. Конкретные лечебные процедуры, препараты и даже их компоненты выбираются специалистами индивидуально.</p>
							</li>
						</ul>
					</div>
					<div class="col-33 pl order">
						<h2 class="content-title line-right">Особенность лечения прыщей, угрей  в Центре здоровья кожи «Весна»?</h2>
					</div>
				</div>
			</div>
		</section>
		<section class="servises-content-section">
			<div class="pagewrap">
					{% include "slider.html" %}					
			</div>
		</section>
		<section class="img-section">
				<div class="pagewrap">
					<div class="colwrap">
						<div class="col-33 bg-img-block bg-img-block_mid blue article">
							<div class="img-wrap">
								<img src="images/img-8.png" alt="">
							</div>
							<h4>Первый шаг на пути избавления от демодекса</h4>
							<p>Клиники или продукты, которые обещают быстро вылечить акне, как правило, оставляют только разочарование. Ведь лечение угревой болезни – не такой простой процесс, за 1-2 процедуры от проблемы полностью не избавиться.</p>
							<p>В Центре здоровой кожи «Весна» накоплен огромный положительный опыт в лечении угревой сыпи, и мы <b>можем прогнозировать результаты, отталкиваясь от состояния кожи </b>	</p>
						</div>
						<div class="content-block pl article">
							<div class="col-100 flex">								
								<h2 class="content-title pr line-right">Процедуры и средства в процессе лечения демодекса на лице в Центре здоровой кожи «Весна»?</h2>
							</div>							
								<p>Как правило, первые улучшения состояния кожи видны уже после 3-4 процедуры. В случаях, осложненных демодекозом, стафилококком, срептококком, результаты заметны после 5-6 процедур.</p>
								<p>	В любом, даже самом сложном случае, через 1,5-2 месяца вы заметите уже радикальные изменения. И они будут устойчивыми. Чтобы лучше представлять, какого эффекта вы сможете достичь, ознакомьтесь с отзывами о лечении акне наших пациентов и посмотрите фото результатов.</p>
								<h4>Как часто мне нужно будет посещать Центр здоровой кожи «Весна» при лечении угревой сыпи на лице?</h4>								
								
								<p>Курс составляет в среднем от 5-6 до 10-12 процедур, в зависимости от ситуации конкретного пациента. Затем нужно будет поддерживать результат с помощью домашнего ухода.</p>
							<div class="colwrap">
								<div class="col-40 content-img">
									<div class="img-wrap">
										<img src="images/img-9.png" alt="">
									</div>
								</div>
								<div class="col-60">
									{% include "paging.html" %}	
									<p class="text-title">С чего начинается сеанс</p>
									<p>Начинается сеанс с чистки лица с предварительным использованием травяной бани на основе лекарственных растений. Затем поочередно накладываются 3-4 маски, продолжительность действия каждой 20-30 минут, а также применяются и д</p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</section>		
			
			<section class="section top">
				<div class="pagewrap">                   
					<div class="colwrap article">
						<div class="col-33">
							<h2 class="content-title line-left min">Когда я смогу получить результат?</h2>
						</div>
						<div class="content-block pl">
							<p>Еще в Древнем Египте, Греции и Риме женщины использовали маски для лица, чтобы сохранить свою молодость и красоту. Женщины всегда стремились придать коже лица нежный цвет и загадочное сияние. У каждой женщины были свои тайные рецепты. Главный же секрет красоты – это королевский бархат вашей кожи лица и тела.</p>

							<p>тобы поддерживать кожу здоровой и не вспоминать об угрях, нужно продолжать о ней правильно заботиться: соблюдать правила ухода и применять лечебный крем. Этот крем специалисты Центра создают с учетом всех особенностей кожи пациента, поэтому он демонстрирует действительно высокую эффективность.</p>
							
						</div>
					</div>                    
				</div>
			</section>

			<section class="servises-content-section mh">
					<div class="img-wrap col-50 bg-img-wrap left">
						<img src="images/photo-14.jpg" alt="">
					</div>
				<div class="pagewrap">
					<div class="colwrap fe">
						<div class="col-50 pl">
							<h2 class="content-title line-left">Причины, чтобы начать путь к здоровой коже</h2>						
						</div>						
					</div>
					<div class="colwrap fe bg">
						<div class="col-50 pl">
								{% include "slider-3.html" %}
								<button class="button red button--pipaluk button--inverted  button--round-s button--text-thick">Записаться</button>	
						</div>
					</div>
				</div>
			</section>

			<section class="servises-content-section">
					<div class="pagewrap">
					<div class="main-border-block main-border-block__text-24">
						<p>В Центре здоровой кожи «Весна» мы всегда предлагаем комфортный и безопасный путь к красоте кожи! Воспользуйтесь всеми возможностями нашей методики, которая доказала свою эффективность и становится решением проблемы постакне для более 250 пациентов ежегодно!</p>
					</div>
				</div>
			</section>

			
			
	</main>
	 {% endblock %} 
