	{% extends "template.html" %}	
	{% import "macros.html" as myMacros %}

	{% block content %}
	<main class="main servises-page">
		<section class="article-img-section">
			<div class="img-wrap">
				<img src="images/photo-12.jpg" alt="">
			</div>
			<div class="pagewrap">										
				<div class="head-block-content flex">
					<div class="col-50">
						<div class="head-block-descr">
							<div class="descr-wrap">
								<h1 class="descr-title">Лечение постакне</h1>
								<p class="descr-text">Не предлагаем временных решений. Мы избавляем от проблем. Мы не заставляем вас терпеть боль и неудобства. Просто шаг за шагом изменяем вашу кожу и жизнь к лучшему</p>
								<button class="button red button--pipaluk button--inverted  button--round-s button--text-thick">Записаться</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="article-top-section light-blue">
			<div class="article-block article article__border-text">
				<div class="pagewrap">
					<div class="colwrap">
						<div class="col-33">
							<h2 class="content-title line-left">Устраняем последствия постакне</h2>
						</div>
						<div class="content-block pl">
							<p>Еще в Древнем Египте, Греции и Риме женщины использовали маски для лица, чтобы сохранить свою молодость и красоту. Женщины всегда стремились придать коже лица нежный цвет и загадочное сияние. У каждой женщины были свои тайные рецепты. Главный же секрет красоты – это королевский бархат вашей кожи лица и тела.</p>
	
							<p>О красоте египетской царицы Клеопатры ходят легенды. Она вошла в историю не только как могущественная царица Египта, но и как символ женственности, очарования, красоты.</p>
	
							<p>Как свидетельствует история, Клеопатра любила делать маски для лица и выполняла этот ритуал постоянно. Ее излюбленными ингридиентами были душистый александрийский мед, жирное молоко козлиц и ослиц (не только улучшало состояние кожи, но и служило профилактикой от инфекционных заболеваний), белая глина-каолин, грязи Мертвого моря (специально завоеванного для возлюбленной Марком Антонием).</p>	
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="servises-section">
			<div class="pagewrap">
				<div class="head-block">
					<div class="col-100">
						<div class="head-block-descr">
							<div class="descr-wrap colwrap sb"> 
								<div class="col-33 img-block">
									<div class="img-wrap">
										<img src="images/img-1.png" alt="">
									</div>
								</div>
								<div class="content-block">
									<p class="text-22"><span>Забудьте о толстом слое тонального крема,</span> Забудьте о толстом слое тонального крема, не позволяйте акне отравлять вашу жизнь, перестаньте думать о недостатках кожи. Просто начните двигаться к здоровой и красивой коже, отбросив все, что не работает, используя только те средства, которые эффективны именно в вашем случае.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="servises-content-section img-pad-section">
				<div class="pagewrap">
					<div class="colwrap">
						<div class="article article__list-14 col-60 pr">							
								<ul>
									<li>Наши специалисты не просто назначают и проводят лечение, они ведут пациента от проблемы к ее решению и помогают удержать полученный результат. Индивидуально разрабатывается программа процедур, подбираются препараты, также специалист рекомендует домашний уход и готовит лечебный крем для сохранения эффекта.</li>
									<li>Пациенты Центра «Весна» не выпадают из жизни во время удаление постакне. Им не приходится прятаться дома, пока лицо не восстановится после агрессивных процедур. Лечение легко можно вписать в любой график.</li>
									<li>Программа процедур, каждый препарат и компонент подобран специалистом под конкретного пациента. Такой подход существенно повышает эффективность и сокращает сроки лечения.</li>
									<li>В отличие от большинства альтернативных методик добиться кардинального изменения внешнего вида кожи (удалить рубцы и шрамы постакне, выровнять рельеф и тон кожи) удается максимально комфортное.</li>									
								</ul>
								<button class="button red button--pipaluk button--inverted mt button--round-s button--text-thick">Записаться</button>
						</div>
						<div class="col-40 order">
							<div class="border-block min-img">
									<h2 class="content-title line-right">Преимущества авторской методики удаления постакне на лице </h2>
							</div>
						</div>
					</div>	
				</div>
			</section>
			<section class="servises-content-section">
					<div class="pagewrap">
					<div class="main-border-block">
						<p>Нет смысла рисковать – ведь речь идет о вашем лице – когда есть доступный комфортный метод лечения с доказанной эффективностью.</p>
					</div>
				</div>
			</section>	
			
			<section class="servises-content-section mh">
					<div class="img-wrap col-50 bg-img-wrap left">
						<img src="images/photo-11.jpg" alt="">
					</div>
				<div class="pagewrap">
					<div class="colwrap fe">
						<div class="col-50 pl article">	              
							<div class="slider-min-item">       
								<h4>Симптомы демодекоза на лице</h4>
								<p>	В любом, даже самом сложном случае, через 1,5-2 месяца вы заметите уже радикальные изменения. И они будут устойчивыми. Чтобы лучше представлять, какого эффекта вы сможете достичь, ознакомьтесь с отзывами о лечении акне наших пациентов и посмотрите фото результатов.</p>
								
								{% include "paging.html" %}	

								<p class="text-title">С чего начинается сеанс</p>
								<p>Начинается сеанс с чистки лица с предварительным использованием травяной бани на основе лекарственных растений. Затем поочередно накладываются 3-4 маски, продолжительность действия каждой 20-30 минут, а также применяются и д</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="section top">
				<div class="pagewrap">                   
					<div class="colwrap article">
						<div class="col-33">
							<h2 class="content-title line-left min">Когда я смогу получить результат?</h2>
						</div>
						<div class="content-block pl">
							<p>Еще в Древнем Египте, Греции и Риме женщины использовали маски для лица, чтобы сохранить свою молодость и красоту. Женщины всегда стремились придать коже лица нежный цвет и загадочное сияние. У каждой женщины были свои тайные рецепты. Главный же секрет красоты – это королевский бархат вашей кожи лица и тела.</p>

							<p>тобы поддерживать кожу здоровой и не вспоминать об угрях, нужно продолжать о ней правильно заботиться: соблюдать правила ухода и применять лечебный крем. Этот крем специалисты Центра создают с учетом всех особенностей кожи пациента, поэтому он демонстрирует действительно высокую эффективность.</p>
							
						</div>
					</div>                    
				</div>
			</section>

			<section class="price-section">
					<div class="pagewrap">
						<h2 class="bg-title blue">Цены на лечение постакне</h2>
						<ul class="price-list">
							<li>
								<span>Лечение постакне</span>
								<span>350 грн</span>
							</li>
							<li>
								<span>Лечение постакне</span>
								<span>350 грн</span>
							</li>
							<li>
								<span>Лечение постакне</span>
								<span>350 грн</span>
							</li>
						</ul>
						<button class="button red button--pipaluk button--inverted  button--round-s button--text-thick">Записаться</button>
					</div>
				</section>
				<section class="servises-content-section img-pad-section">
					<div class="pagewrap">
						<div class="colwrap">
							<div class="article article__list-14 col-60 pr">							
									<ul>
										<li>Наши специалисты не просто назначают и проводят лечение, они ведут пациента от проблемы к ее решению и помогают удержать полученный результат. Индивидуально разрабатывается программа процедур, подбираются препараты, также специалист рекомендует домашний уход и готовит лечебный крем для сохранения эффекта.</li>
										<li>Пациенты Центра «Весна» не выпадают из жизни во время удаление постакне. Им не приходится прятаться дома, пока лицо не восстановится после агрессивных процедур. Лечение легко можно вписать в любой график.</li>
										<li>Программа процедур, каждый препарат и компонент подобран специалистом под конкретного пациента. Такой подход существенно повышает эффективность и сокращает сроки лечения.</li>
										<li>В отличие от большинства альтернативных методик добиться кардинального изменения внешнего вида кожи (удалить рубцы и шрамы постакне, выровнять рельеф и тон кожи) удается максимально комфортное.</li>									
									</ul>
									<button class="button red button--pipaluk button--inverted mt button--round-s button--text-thick">Записаться</button>
							</div>
							<div class="col-40 order">
								<div class="border-block min-img blue">
										<h2 class="content-title line-right">Альтернативы в лечении постакне, как выбрать оптимальную методику?</h2>
								</div>
							</div>
						</div>	
					</div>
				</section>
			
			<section class="video-section">
				<div class="video">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/axs49hvU4MQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</section>
			
			
			<section class="servises-content-section bg-bottom">
				<div class="pagewrap">					
					<div class="colwrap article">
						<div class="col-33">
							<h2 class="content-title line-left min">Как добиться устойчивого результата в лечение угревой болезни?</h2>							
						</div>
						<div class="content-block pl">
							<p>Еще в Древнем Египте, Греции и Риме женщины использовали маски для лица, чтобы сохранить свою молодость и красоту. Женщины всегда стремились придать коже лица нежный цвет и загадочное сияние. У каждой женщины были свои тайные рецепты. Главный же секрет красоты – это королевский бархат вашей кожи лица и тела.</p>

							<p>тобы поддерживать кожу здоровой и не вспоминать об угрях, нужно продолжать о ней правильно заботиться: соблюдать правила ухода и применять лечебный крем. Этот крем специалисты Центра создают с учетом всех особенностей кожи пациента, поэтому он демонстрирует действительно высокую эффективность.</p>							
						</div>
					</div>
					<div class="colwrap">
						<div class="col-50">
							<div class="img-wrap">
								<img src="images/img-6.png" alt="">
							</div>
						</div>
					</div>					
				</div>
			</section>
			<section class="section top">
				<div class="pagewrap">                   
					<div class="colwrap article">						
						<div class="col-50">
							<p>Еще в Древнем Египте, Греции и Риме женщины использовали маски для лица, чтобы сохранить свою молодость и красоту. Женщины всегда стремились придать коже лица нежный цвет и загадочное сияние. У каждой женщины были свои тайные рецепты. Главный же секрет красоты – это королевский бархат вашей кожи лица и тела.</p>

							<p>тобы поддерживать кожу здоровой и не вспоминать об угрях, нужно продолжать о ней правильно заботиться: соблюдать правила ухода и применять лечебный крем. Этот крем специалисты Центра создают с учетом всех особенностей кожи пациента, поэтому он демонстрирует действительно высокую эффективность.</p>
							
						</div>
						<div class="col-50 pr flex fe order">
							<h2 class="col-70 content-title line-right min">Как избежать появление постакне?</h2>
						</div>
					</div>                    
				</div>
			</section>
			<section class="servises-content-section">
					<div class="pagewrap">
					<div class="main-border-block main-border-block__text-24">
						<p>В Центре здоровой кожи «Весна» мы всегда предлагаем комфортный и безопасный путь к красоте кожи! Воспользуйтесь всеми возможностями нашей методики, которая доказала свою эффективность и становится решением проблемы постакне для более 250 пациентов ежегодно!</p>
					</div>
				</div>
			</section>
			
	</main>
	 {% endblock %} 
